.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1040;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #000000;
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.modal-inner-container {
  color: white;
  font-size: 12px;
}

.bug-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bug-form-textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  width: 200px;
  height: 150px;
}

.open-modal-button {
  margin: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid white;
  border-radius: 10px;
  background: linear-gradient(265.27deg, #0000 20.55%, white 94.17%);
  background-color: white;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}

.open-modal-button:hover {
  background-color: #8bb2ff;
  border-color: black;
}

.open-modal-button:active {
  opacity: 0.2;
}

.submit-bug-button {
  margin: 20px;
  margin-bottom: 0px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid white;
  border-radius: 10px;
  background: linear-gradient(265.27deg, #0000 20.55%, white 94.17%);
  background-color: white;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
}

.submit-bug-button:hover {
  background-color: #8bb2ff;
  border-color: black;
}

.submit-bug-button:active {
  opacity: 0.2;
}

@media (min-width: 1024px) {
  .modal-inner-container {
    font-size: 14px;
  }

  .bug-form-textarea {
    width: 300px;
  }
}
