.chat-input-box {
  margin: 70px;
}

.chat-input-textarea {
  color: white;
  background-color: #40414f;
  width: 80%;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.35);
  padding: 12px;
  font-size: 0.9em;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 35px;
}

.submit-button {
  border: 1px solid #40414f;
  border-radius: 10px;
  color: gray;
  background-color: #40414f;
  position: absolute;
  bottom: 25px;
  left: 89%;
  transform: translateX(-50%);
  transform: rotate(90deg);
}

.submit-button:hover {
  background-color: #202123;
  border: 1px solid gray;
  transition: all 0.2s ease-in;
}

@media (min-width: 1024px) {
  .chat-input-box {
    padding: 24px;
  }

  .chat-input-textarea {
    width: 50%;
    font-size: 1.25em;
    bottom: 62px;
    padding: 18px;
    padding-right: 60px;
  }

  .submit-button {
    bottom: 78px;
    left: 75%;
  }

  .submit-svg {
    width: 20px;
    height: 20px;
  }
}
