.chat-message.chatgpt {
  background-color: #444654;
}

.chat-message {
}

.chat-message-center {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 8px;
}

.message {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.avatar {
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}

.avatar.chatgpt {
  background-color: #0da37f;
}

.svg {
  display: none;
}

@media (min-width: 1024px) {
  .avatar {
    min-width: 41px;
    min-height: 41px;
    max-width: 41px;
    max-height: 41px;
  }

  .message {
    padding-left: 40px;
    padding-right: 40px;
  }

  .chat-message-center {
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .svg {
    display: inline;
  }
}
