.chat-input-box {
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-input-textarea {
  color: white;
  background-color: #40414f;
  width: 50%;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  padding: 12px;
  font-size: 1.25em;
}
