.message-button {
  background-color: #202123;
  border: none;
  display: flex;
  align-items: center;
  margin-bottom: -25px;
}

.message-container {
  max-width: 250px;
  display: flex;
  align-items: center;
  background-color: #202123;
  color: #e3e3e9;
  border: none;
}

.message-container:first-child {
  margin-top: 30px;
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 10px;
}

.message-svg {
  min-height: 16px;
  min-width: 16px;
  max-height: 16px;
  max-width: 16px;
}
