.message-history-container {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 500px;
  margin-top: 30px;
  border-bottom: 1px solid #404143;
  margin-right: -8px;
  position: fixed;
}

.message-button {
  background-color: #202123;
  border: none;
  display: flex;
  align-items: center;
  margin-bottom: -25px;
}

.message-container {
  max-width: 250px;
  display: flex;
  align-items: center;
  background-color: #202123;
  color: #e3e3e9;
  border: none;
  margin-bottom: 30px;
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 10px;
}

.message-svg {
  min-height: 16px;
  min-width: 16px;
  max-height: 16px;
  max-width: 16px;
}
