.rate-limit-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 10px;
  margin-top: 20px;
}

.rate-limit-error {
  color: rgb(255, 105, 105);
}

@media (min-width: 1024px) {
  .rate-limit-error-container {
    height: 60vh;
    font-size: 20px;
    margin-top: 30px;
  }
}
