.store-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.store-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin-top: 40px;
  transition: all 0.1s ease-in-out;
  background: linear-gradient(265.27deg, #0000 20.55%, #3f8cff 94.17%);
  background-color: #3f8cff;
  border: 1px solid #3f8cff;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.store-link:hover {
  scale: 1.04;
  background-color: #7fa9ee;
}

.store-link:active {
  opacity: 0.2;
}

.store-button-svg {
  color: white;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

@media (min-width: 1024px) {
  .store-link {
    margin-top: 20px;
    padding-left: 65px;
    padding-right: 65px;
    font-size: 16px;
  }

  .store-button-container {
    position: fixed;
    bottom: 70px;
    left: 40px;
  }
}
