.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
}

body {
  background-color: #343541;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.side-menu {
  width: 25%;
  background-color: #202123;
  padding: 4px;
}

.chat-box {
  flex: 1;
  position: relative;
  background: linear-gradient(to top, #353740, #444654);
}

.chat-log {
  text-align: left;
}

@media (min-width: 1024px) {
  .side-menu {
    width: 260px;
    padding: 10px;
  }
}
