.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
}

body {
  background-color: #343541;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.side-menu {
  width: 25%;
  background-color: #202123;
  padding: 4px;
  display: none;
}

.chat-box {
  flex: 1;
  position: relative;
  background: linear-gradient(to top, #353740, #444654);
}

.chat-log {
  text-align: left;
}

.circular-progress {
  margin-top: 20px;
  position: relative;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.mobile-new-chat-button {
  position: sticky;
  top: 0px;
}

@media (min-width: 1024px) {
  .side-menu {
    width: 260px;
    padding: 10px;
    display: inline;
  }

  .circular-progress {
    left: 50%;
  }

  .mobile-new-chat-button {
    display: none;
  }
}

::-webkit-scrollbar {
  background-color: #343541;
  width: 0.4em;
}

::-webkit-scrollbar-thumb {
  background: #565869;
  border: 2px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
  background-clip: content-box;
}
